<h1 class="text-center">Ejemplo Consumir API Rest Angular 2+</h1>

<div class="content">
  <h2>Archivos Tocados</h2>
  <div class="row">
    <div class="col">
      <p>app-routing.module.ts (Rutas Añadidas)</p><br>
      <p>app.module.ts (Dependencias Añadidas)</p><br>
    </div>
    <div class="col">
      <p>pokemon.component.ts (Logica y llamada al Servicio)</p><br>
      <p>pokemon.component.html (Vista de la web)</p><br>
    </div>
    <div class="col">
      <p>pokemon-service.service.ts (Llamada al Back desde Angular)</p><br>
      <p>Index.html (Añadir Bootstrap)</p><br>
    </div>
  </div>
  <p>Si pruebas a entrar en <b>pokemon-service.service.ts</b> y al endpoint, le cambias el nombre de Pikachu por otro pokemon, cambiara la "Pokedex". Prueba con <b>ditto</b>.</p>
</div>
<hr>

<router-outlet></router-outlet>
